<div class="col-8" *ngIf="isAdmin">
    <h2 *ngIf="!isAdd">You are now editing Table {{ this.tableService.formData.tableId }}</h2>
    <h2 *ngIf="isAdd">Add new Table</h2>

    <div>
        <form [formGroup]="tableForm" (ngSubmit)="onSubmit()">
            <div>
                <p-fieldset legend="Serving zone">
                    <input id="serving-zone"
                    type="text"
                    formControlName="servingZone"
                    pInputText
                    [(ngModel)]="this.tableService.formData.servingZone">
                </p-fieldset>
            </div>
            <div>
                <p-fieldset legend="Number of seats">
                    <p-inputNumber id="no-seats"
                    type="text"
                    formControlName="numberOfSeats"
                    [showButtons]="true"
                    [min]="2"
                    [max]="10"
                    [(ngModel)]="this.tableService.formData.numberOfSeats"></p-inputNumber>
                </p-fieldset>
            </div>

            <div>
                <button pButton type="submit" label="Submit"></button>
                <button pButton type="button" label="Cancel" class="p-button-secondary" (click)="previousState()"></button>
            </div>
        </form>
    </div>
</div>
<div *ngIf="!isAdmin">
    <h2>Not authorised!</h2>
    Go to homepage by clicking <a href="/">here</a>!
</div>
