<div class="col-8">
    <div *ngIf="table">
        <h2><span>Table</span> {{ table.tableId }}</h2>

        <dl class="row-md jh-entity-details">
            <dt><span><Table></Table> Id</span></dt>
            <dd>
                <span>{{ table.tableId }}</span>
            </dd>
            <dt><span>Serving Zone</span></dt>
            <dd>
                <span>{{ table.servingZone }}</span>
            </dd>
            <dt><span>Number of Seats</span></dt>
            <dd>
                <span>{{ table.numberOfSeats }}</span>
            </dd>
        </dl>

        <button pButton type="submit"
                (click)="back()"
                label="Back"
                icon="pi pi-arrow-left"
                class="btn btn-info">
        </button>

        <button pButton type="button"
                [routerLink]="['/table', table.tableId, 'edit']"
                label="Edit"
                icon="pi pi-pencil"
                class="btn btn-primary">
        </button>
    </div>
</div>