<div class="col-8" *ngIf="isAdmin">
    <div *ngIf="table">
        <h2><span>Table</span> {{ table.tableId }}</h2>

        <p-fieldset legend="Table ID">
            <span>{{ table.tableId }}</span>
        </p-fieldset>

        <p-fieldset legend="Serving Zone">
            <span>{{ table.servingZone }}</span>
        </p-fieldset>

        <p-fieldset legend="Number of Seats">
            <span>{{ table.numberOfSeats }}</span>
        </p-fieldset>

        <button pButton type="submit"
                (click)="back()"
                label="Back"
                icon="pi pi-arrow-left"
                class="btn btn-info">
        </button>

        <button pButton type="button"
                [routerLink]="['/table', table.tableId, 'edit']"
                label="Edit"
                icon="pi pi-pencil"
                class="btn btn-primary">
        </button>
    </div>
</div>
<div *ngIf="!isAdmin">
    <h2>Not authorised!</h2>
    Go to homepage by clicking <a href="/">here</a>!
</div>
