<div class="col-8" *ngIf="isAdmin">
    <div *ngIf="dish">
        <h2><span>Dish</span> {{ dish.dishId }}</h2>

        <dl class="row-md jh-entity-details">
            <p-fieldset legend="Dish ID" [toggleable]="true">
                <span>{{ dish.dishId }}</span>
            </p-fieldset>
            
            <p-fieldset legend="Name" [toggleable]="true">
                <span>{{ dish.dishName }}</span>
            </p-fieldset>

            <p-fieldset legend="Price" [toggleable]="true">
                <span>{{ dish.price }}</span>
            </p-fieldset>

            <p-fieldset legend="Category" [toggleable]="true">
                <span>{{ dish.category }}</span>
            </p-fieldset>

            <p-fieldset legend="Image" [toggleable]="true">
                <span><img src="{{ dish.imageUrl }}" style="max-width: 50%;"/></span>
            </p-fieldset>
 
            <p-fieldset legend="Description" [toggleable]="true">
                <span>{{ dish.dishDescription }}</span>
            </p-fieldset>
        </dl>

        <button pButton type="submit"
                (click)="back()"
                label="Back"
                icon="pi pi-arrow-left"
                class="btn btn-info">
        </button>

        <button pButton type="button"
                [routerLink]="['/dish', dish.dishId, 'edit']"
                label="Edit"
                icon="pi pi-pencil"
                class="btn btn-primary">
        </button>
    </div>
</div>
<div *ngIf="!isAdmin">
    <h2>Not authorised!</h2>
    Go to homepage by clicking <a href="/">here</a>!
</div>
