<div class="col-8" *ngIf="isAdmin">
    <h2 *ngIf="!isAdd">You are now editing Dish {{ this.dishService.formData.dishId }}</h2>
    <h2 *ngIf="isAdd">Add new Dish</h2>

    <div>
        <form [formGroup]="dishForm" (ngSubmit)="onSubmit()">
            <div>
                <p-fieldset legend="Name">
                    <input id="dish-name" type="text" formControlName="dishName" pInputText [(ngModel)]="this.dishService.formData.dishName">
                </p-fieldset>
            </div>

            <div>
                <p-fieldset legend="Price">
                    <p-inputNumber id="price"
                    formControlName="price"
                    [showButtons]="true"
                    mode="currency" currency="RON"
                    [step]="0.25"
                    [(ngModel)]="this.dishService.formData.price"></p-inputNumber>
                </p-fieldset>
            </div>
            
            <div>
                <p-fieldset legend="Category">
                    <input id="category" type="text" formControlName="category" pInputText [(ngModel)]="this.dishService.formData.category">
                </p-fieldset>
            </div>

            <div>
                <p-fieldset legend="Image URL">
                    <input id="image" type="text" formControlName="imageUrl" pInputText [(ngModel)]="this.dishService.formData.imageUrl">
                </p-fieldset>
            </div>

            <div>
                <p-fieldset legend="Dish description">
                    <textarea id="description"
                    formControlName="dishDescription"
                    pInputTextarea
                    [rows]="5" [cols]="150"
                    [autoResize]="true"
                    [(ngModel)]="this.dishService.formData.dishDescription"></textarea>
                </p-fieldset>
            </div>
           
            <div>
                <button pButton type="submit" label="Submit"></button>
                <button pButton type="button" label="Cancel" class="p-button-secondary" (click)="previousState()"></button>
            </div>
        </form>
    </div>
</div>
<div *ngIf="!isAdmin">
    <h2>Not authorised!</h2>
    Go to homepage by clicking <a href="/">here</a>!
</div>
