<div class="col-8">
    <div *ngIf="client">
        <h2><span>Client</span> {{ client.clientId }}</h2>

        <dl class="row-md jh-entity-details">
            <dt><span>Client Id</span></dt>
            <dd>
                <span>{{ client.clientId }}</span>
            </dd>
            <dt><span>Name</span></dt>
            <dd>
                <span>{{ client.clientName }}</span>
            </dd>
        </dl>

        <button pButton type="submit"
                (click)="back()"
                label="Back"
                icon="pi pi-arrow-left"
                class="btn btn-info">
        </button>

        <button pButton type="button"
                [routerLink]="['/client', client.clientId, 'edit']"
                label="Edit"
                icon="pi pi-pencil"
                class="btn btn-primary">
        </button>
    </div>
</div>