<div class="col-8">
    <div *ngIf="client">
        <h2><span>Client</span> {{ client.clientId }}</h2>

        <p-fieldset legend="Client ID">
            <span>{{ client.clientId }}</span>
        </p-fieldset>
        <p-fieldset legend="Name">
            <span>{{ client.clientName }}</span>
        </p-fieldset>
        

        <button pButton type="submit"
                (click)="back()"
                label="Back"
                icon="pi pi-arrow-left"
                class="btn btn-info">
        </button>

        <button pButton type="button"
                [routerLink]="['/client', client.clientId, 'edit']"
                label="Edit"
                icon="pi pi-pencil"
                class="btn btn-primary">
        </button>
    </div>
</div>