<div class="col-8">
    <div *ngIf="order">
        <h2><span>Order</span> {{ order.orderId }}</h2>

        <dl class="row-md jh-entity-details">
            <dt><span>Order Id</span></dt>
            <dd>
                <span>{{ order.orderId }}</span>
            </dd>
            <dt><span>Client</span></dt>
            <dd>
                <span>{{ order.orderClient.clientName }}</span>
            </dd>
            <dt><span>Planification</span></dt>
            <dd>
                <span>{{ order.planification.planificationId }}</span>
            </dd>
            <dt><span>Table</span></dt>
            <dd>
                <span>{{ order.planification.actualTable.tableId }}</span>
            </dd>
            <dt><span>Dishes</span></dt>
            <dd>
                <span *ngFor="let dish of order.dishList"> {{ dish.dishName }}, </span>
            </dd>
            <dt><span>Total price</span></dt>
            <dd>
                <span>{{ order.totalPrice }} lei</span>
            </dd>
            <dt><span>Order time</span></dt>
            <dd>
                <span>{{ order.orderTime | date:'short' }}</span>
            </dd>
            <dt><span>Status</span></dt>
            <dd>
                <span>{{ order.orderStatus }}</span>
            </dd>
            <dt><span>Comments</span></dt>
            <dd>
                <span>{{ order.comments }}</span>
            </dd>
        </dl>

        <button pButton type="submit"
                (click)="back()"
                label="Back"
                icon="pi pi-arrow-left"
                class="btn btn-info">
        </button>

        <button pButton type="button"
                [routerLink]="['/order', order.orderId, 'edit']"
                label="Edit"
                icon="pi pi-pencil"
                class="btn btn-primary">
        </button>
    </div>
</div>