<div class="container">
    <div class="banner-container">
        <h2>Orders listing</h2>
        <button pButton
                [routerLink]="['/order/new']"
                icon="pi pi-plus"
                class="p-button-primary p-button-sm"
                label="New">
        </button>
    </div>

    <div class="listing-container">
        <p-table [value]="ordersList"
        [rowHover]="true"
        [rows]="5"
        [paginator]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="orderId">Order Id<p-sortIcon field="orderId"></p-sortIcon></th>
                    <th>Client</th>
                    <th>Planification</th>
                    <th>Table</th>
                    <th>Dishes</th>
                    <th>Total price</th>
                    <th>Order time</th>
                    <th>Status</th>
                    <th>Comments</th>
                    <th>Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-order>
                <tr>
                    <td> {{ order.orderId }} </td>
                    <td> {{ order.orderClient.clientName }} </td>
                    <td> {{ order.planification.planificationId }} </td>
                    <td> {{ order.planification.actualTable.tableId }} </td>
                    <td style="max-width: 300px;"> <span *ngFor="let dish of order.dishList"> {{ dish.dishName }}, </span> </td>
                    <td> {{ order.totalPrice }} lei </td>
                    <td> {{ order.orderTime | date:'short' }} </td>
                    <td> {{ order.orderStatus }} </td>
                    <td> {{ order.comments }} </td>
                    <td *ngIf="isAdmin" class="text-right">
                        <div class="p-buttonset">
                            <button pButton type="submit"
                                    [routerLink]="['/order', order.orderId, 'view']"
                                    icon="pi pi-eye"
                                    class="p-button-sm"
                                    pTooltip="View" tooltipPosition="bottom">
                            </button>
        
                            <button pButton type="submit"
                                    [routerLink]="['/order', order.orderId, 'edit']"
                                    icon="pi pi-pencil"
                                    class="p-button-warning p-button-sm"
                                    pTooltip="Edit" tooltipPosition="bottom">
                            </button>
        
                            <button pButton type="submit" (click)="delete(order)"
                                    icon="pi pi-trash"
                                    class="p-button-danger p-button-sm"
                                    pTooltip="Delete" tooltipPosition="bottom">
                            </button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
