<div class="login-form">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div>
            <label for="username">Username: </label>
            <input id="username" type="text" formControlName="userName" pInputText [(ngModel)]="this.model.userName"/>
        </div>
        <div>
            <label for="password">Password: </label>
            <p-password formControlName="password" [feedback]="false"></p-password>
        </div>
        <div>
            <button pButton type="submit" label="Submit"></button>
        </div>
    </form>
</div>
