<div class="col-8" *ngIf="isAdmin">
    <div *ngIf="planification">
        <h2><span>Planification</span> {{ planification.planificationId }}</h2>

        <p-fieldset legend="Planification ID">
            <span>{{ planification.planificationId }}</span>
        </p-fieldset>
        <p-fieldset legend="Waiter">
            <span>{{ planification.waiter.fullName }}</span>
        </p-fieldset>
        <p-fieldset legend="Table ID">
            <span>{{ planification.actualTable.tableId }}</span>
        </p-fieldset>

        <button pButton type="submit"
                (click)="back()"
                label="Back"
                icon="pi pi-arrow-left"
                class="btn btn-info">
        </button>

        <button pButton type="button"
                [routerLink]="['/planification', planification.planificationId, 'edit']"
                label="Edit"
                icon="pi pi-pencil"
                class="btn btn-primary">
        </button>
    </div>
</div>
<div *ngIf="!isAdmin">
    <h2>Not authorised!</h2>
    Go to homepage by clicking <a href="/">here</a>!
</div>
