<div class="col-8" *ngIf="isAdmin">
    <h2 *ngIf="!isAdd">You are now editing Planification {{ this.planificationService.formData.planificationId }}</h2>
    <h2 *ngIf="isAdd">Add new Planification</h2>

    <div>
        <form [formGroup]="planificationForm" (ngSubmit)="onSubmit()">
            <div>
                <p-fieldset legend="Waiter">
                    <p-dropdown [options]="waiters"
                    optionLabel="fullName"
                    formControlName="waiter"
                    [(ngModel)]="this.planificationService.formData.waiter"></p-dropdown>
                </p-fieldset>
            </div>

            <div>
                <p-fieldset legend="Table">
                    <p-dropdown [options]="tables"
                    optionLabel="tableId"
                    formControlName="actualTable"
                    [(ngModel)]="this.planificationService.formData.actualTable"></p-dropdown>
                </p-fieldset>
            </div>

            <div>
                <button pButton type="submit" label="Submit"></button>
                <button pButton type="button" label="Cancel" class="p-button-secondary" (click)="previousState()"></button>
            </div>
        </form>
    </div>
</div>
<div *ngIf="!isAdmin">
    <h2>Not authorised!</h2>
    Go to homepage by clicking <a href="/">here</a>!
</div>
