<div>
    <p-card *ngIf="this.showProgressBanner" header="Aveti o comanda in desfasurare!" class="cart-modal existing-order">
        <div *ngIf="estimatedTime" class="icon-status">
            <i *ngIf="existingOrder!.orderStatus === 'WAITING'" class="pi pi-spin pi-cog" style="font-size: 5rem"></i>
            <img *ngIf="existingOrder!.orderStatus === 'IN_PROGRESS'" src="../../assets/icons8-scooter.gif"/>
        </div>
        <div *ngIf="estimatedTime && existingOrder!.orderStatus === 'IN_PROGRESS'" class="info">Timp estimat de livrare: {{ this.estimatedTime }} minute</div>
        <div class="status info">Status: <span [ngClass]="{'waiting': existingOrder!.orderStatus === 'WAITING', 'progress': existingOrder!.orderStatus === 'IN_PROGRESS', 'done': existingOrder!.orderStatus === 'DONE'}"> {{ this.existingOrder!.orderStatus }} </span></div>
        <div *ngIf ="!estimatedTime" class="info"> Ospatar: {{ this.existingOrder!.planification.waiter.fullName }} </div>
        <div class="right-side info">
            <div class="cart-container">
                <div *ngFor="let item of this.existingOrder!.dishList">
                    <div class="item-card">
                        <img src="{{ item.imageUrl }}" class="item-image" />
                        <div class="item-name"> {{ item.dishName }} </div>
                        <div class="item-price"> {{ item.price | number : '1.2-2'}} lei</div>
                    </div>
                </div>
            </div>
            <div class="total-price">
                <span>Sub-total <br>{{ existingOrderTotal }} RON</span>
                <span>TVA (9% included)<br> {{ (existingOrderTotal * 9) / 100 }} RON</span>
                Total<br> {{ existingOrderTotal }} ron
            </div>
        </div>
    </p-card>
    <form *ngIf="!this.showProgressBanner" [formGroup]="cartForm" (ngSubmit)="toCheckout()">
        <div class="cart-modal">
            <div class="left-side">
                <div class="section contact">
                    <i class="pi pi-user"></i>
                    <div class="content">
                        <div class="title">Conctact</div>
                        <input id="client-name" type="text" class="form-control" formControlName="clientName" required pInputText [(ngModel)]="this.clientService.formData.clientName">
                    </div>
                </div>
                <div class="section">
                    
                </div>
                <div class="section hour">
                    <i class="pi pi-clock"></i>
                    <div class="content">
                        <div class="title">Pick an hour</div>
                        <p-calendar
                            formControlName="reservationDate"
                            [(ngModel)]="this.orderService.formData.orderTime"
                            [minDate]="minDate"
                            [maxDate]="maxDate"
                            [readonlyInput]="true"
                            [showTime]="true"
                            [touchUI]="true"
                            ></p-calendar>

                    </div>
                </div>
                <div>
                    <div class="map">
                        <google-map height="300px"
                        width="100%"
                        [center]="markerPositions[0]"
                        [zoom]="zoom"
                        (mapClick)="addMarker($event)"
                        (mapMousemove)="move($event)">
                            <map-marker *ngFor="let markerPosition of markerPositions"
                            [position]="markerPosition"
                            ></map-marker>
                        </google-map>
                    </div>
                </div>
                <div class="section people">
                    <i class="pi pi-users"></i>
                    <div class="content">
                        <div class="title">Number of people</div>
                        <p-inputNumber mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="1" [max]="10"  formControlName="numberOfPeople"> </p-inputNumber>
                    </div>
                </div>
                <div class="section comments">
                    <i class="pi pi-pencil"></i>
                    <div class="content">
                        <div class="title">Comments</div>
                        <textarea id="comments" rows="5" cols="30" pInputTextarea  formControlName="comments" [(ngModel)]="this.orderService.formData.comments"></textarea>
                    </div>
                </div>
            </div>
            <div class="right-side">
                <div *ngIf="!isOrderCreated && !items">
                    Your cart is empty!
                </div>
                <div class="cart-container">
                    <div *ngFor="let item of shoppingItems | async">
                        <div class="item-card">
                            <img src="{{ item.imageUrl }}" class="item-image" />
                            <div class="item-name"> {{ item.dishName }} </div>
                            <div class="item-price"> {{ item.price | number : '1.2-2'}} lei</div>
                        </div>
                    </div>
                </div>
                <div class="total-price">
                    <span>Sub-total <br>{{ cartSubtotal }} RON</span>
                    <span>TVA (9% included)<br> {{ (cartSubtotal * 9) / 100 }} RON</span>
                    Total<br> {{ cartSubtotal }} ron
                </div>
            </div>
            <button class="submit" pButton type="submit" [disabled]="!cartForm.valid" label="Place your order"></button>
        </div>
    </form>
</div>
