<div class="col-8">
    <h2 *ngIf="!isAdd">You are now editing Waiter {{ this.waiterService.formData.waiterId }}</h2>
    <h2 *ngIf="isAdd">Add new Waiter</h2>

    <div>
        <form [formGroup]="waiterForm" (ngSubmit)="onSubmit()">
            <p-fieldset legend="Name">
                <input id="waiter-name" type="text" formControlName="fullName" pInputText [(ngModel)]="this.waiterService.formData.fullName">
            </p-fieldset>

            <div>
                <button pButton type="submit" label="Submit"></button>
                <button pButton type="button" label="Cancel" class="p-button-secondary" (click)="previousState()"></button>
            </div>
        </form>
    </div>
</div>
