<div class="col-8">
    <div *ngIf="waiter">
        <h2><span>Waiter</span> {{ waiter.waiterId }}</h2>

        <dl class="row-md jh-entity-details">
            <dt><span>Waiter Id</span></dt>
            <dd>
                <span>{{ waiter.waiterId }}</span>
            </dd>
            <dt><span>Name</span></dt>
            <dd>
                <span>{{ waiter.name }}</span>
            </dd>
            <dt><span>Tables</span></dt>
            <dd>
                <span>{{ waiter.tablesListIds }}</span>
            </dd>
        </dl>

        <button pButton type="submit"
                (click)="back()"
                label="Back"
                icon="pi pi-arrow-left"
                class="btn btn-info">
        </button>

        <button pButton type="button"
                [routerLink]="['/waiter', waiter.waiterId, 'edit']"
                label="Edit"
                icon="pi pi-pencil"
                class="btn btn-primary">
        </button>
    </div>
</div>