<div class="col-8" *ngIf="isAdmin">
    <div *ngIf="waiter">
        <h2><span>Waiter</span> {{ waiter.waiterId }}</h2>

        <p-fieldset legend="Waiter Id">
            <span>{{ waiter.waiterId }}</span>
        </p-fieldset>
        <p-fieldset legend="Name">
            <span>{{ waiter.fullName }}</span>
        </p-fieldset>

        <button pButton type="submit"
                (click)="back()"
                label="Back"
                icon="pi pi-arrow-left"
                class="btn btn-info">
        </button>

        <button pButton type="button"
                [routerLink]="['/waiter', waiter.waiterId, 'edit']"
                label="Edit"
                icon="pi pi-pencil"
                class="btn btn-primary">
        </button>
    </div>
</div>
<div *ngIf="!isAdmin">
    <h2>Not authorised!</h2>
    Go to homepage by clicking <a href="/">here</a>!
</div>
