@import "./global-variables.scss";
@import "typography";

.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: $yellow;
  height: 4rem;
  padding: 0 0.5rem;
  position: fixed;
  top: 0;
  z-index: 9999;

  .header-routes {
    display: flex;
    gap: 0.5rem;

    a {
      text-decoration: none;
      color: #fff;
      background-color: $yellow-dark;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      margin-bottom: calc($gap / 2);

      padding: 0.5rem;

      &:hover {
        box-shadow: 0px 10px 13px -7px #000000;
      }
    }
  }

  .logo {
    max-width: 3.5rem;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: calc($gap / 2);
  margin-top: $gap;

  height: 200px;
  background-color: $gray-light;
  color: #ffffff;
  text-align: center;

  .footer-links {
    display: flex;
    flex-direction: row;
    gap: $gap;
    justify-content: center;

    a {
      color: #ffffff;
      font-family: NexusRustSlab;

      &:hover {
        text-decoration: underline;
      }
    }

  }
}
