<div class="header-container">
    <div>
        <a routerLink="/"><img src="../assets/order-hut.logo.png" class="logo"/></a>
    </div>
    <div class="header-routes">
        <a routerLink="/client">Clients dashboard</a>
        <a routerLink="/dish">Dish dashboard</a>
        <a routerLink="/order">Order dashboard</a>
        <a routerLink="/table">Tables dashboard</a>
        <a routerLink="/waiter">Waiters dashboard</a>
        <a routerLink="/planification">Planifications dashboard</a>
        <a routerLink="/menu">Menu</a>
    </div>
</div>
<router-outlet></router-outlet>